<template>
  <div>
    <!-- <ClientOnly> -->
    <NuxtLoadingIndicator />

    <NuxtLayout>
      <!-- v-app is vuetify   -->
      <v-app>
        <!-- <div class="example">Hello</div> -->

        <NuxtPage />
      </v-app>
    </NuxtLayout>

    <!--
    <div class="layout">Layout with yellow color in app.vue</div>

    <div  class="persian">یک عدد متن فارسی</div> -->

    <!-- </ClientOnly> -->
  </div>
</template>

<script setup>

const { STORAGE_KEYS } = useConstants()
const { getItem } = useLocalForage()

const locale = useLocale()


// getItem(STORAGE_KEYS.LANG).then((value) => {
//   console.log(`lang in storage`)
//   console.log(value)
// })

// console.log('locale.current.value')
// console.log(locale.current.value)
</script>

<style lang="sass">
@use "~/assets/sass/main.sass"
// @use "~/assets/sass/main.scss"

// .example
//   background-color: $primary
</style>
