<template>
  <v-dialog v-model="dialog.isOpen" width="auto">
    <v-card
      append-icon="$close"
      class="mx-auto"
      elevation="16"
      max-width="500"
      min-width="500"
      :title="dialog.dialogTitle"
    >
      <template v-slot:append>
        <v-btn icon="$close" variant="text" @click="dialog.closeDialog()" />
      </template>

      <v-divider></v-divider>

      <!-- <component v-if="DialogComponent" :is="DialogComponent" /> -->

      <DialogTheme v-if="dialog.dialogName === DIALOGS.THEME_DIALOG" />
      <DialogLangFont v-if="dialog.dialogName === DIALOGS.LANG_DIALOG" />
    </v-card>
  </v-dialog>
</template>

<script lang="ts" setup>
// Third-Parties
import _ from 'lodash'
import { ref, resolveComponent, onMounted } from 'vue'

// Store
import { useDialogStore } from '~/store/dialogStore'
import ButtonFormDialog from '../button/ButtonFormDialog.vue'

// Consts

const { DIALOGS } = useConstants()

const dialog = useDialogStore()

// If you are using resolveComponent to handle dynamic components,
// make sure not to insert anything but the name of the component, which must be a string and not a variable.
// const DialogComponent = computed(() => {
//   // return resolveComponent(dialog.dialogName) // Failed to resolve component: DialogTheme
//   // return resolveComponent(`${dialog.dialogName}`) // Works
//   return resolveComponent('DialogTheme') // Works
// })
</script>
