<template>
  <div class="py-6 text-center">
    <v-radio-group v-model="radios" inline>
      <v-radio
        v-for="(option, index) in optionsArray"
        :key="index"
        :value="option.value"
      >
        <template v-slot:label>
          <div>
            <span
              class="rounded ma-2"
              style="width: 3rem; height: 3rem; display: inline-block"
              :style="{ backgroundColor: option.color }"
            />
          </div>
        </template>
      </v-radio>
    </v-radio-group>

    <ButtonFormDialog :handle-submit="updateTheme" />
  </div>
</template>

<script setup>
// Third Parties
import { ref } from 'vue'

// Store
import { useDialogStore } from '~/store/dialogStore'

const theme = useTheme()

const computedThemes = theme.computedThemes.value

const optionsArray = []

Object.keys(computedThemes).map((themeName) => {
  optionsArray.push({
    value: themeName,
    color: computedThemes[themeName].colors.primary,
  })
})

const dialog = useDialogStore()

// Define reactive state for radios, initializing with the theme name
const radios = ref(theme.name.value)

async function updateTheme() {
  theme.global.name.value = radios.value
}
</script>
