<template>
  <div>
    <div class="py-6 text-center">
      <v-container>
        <v-radio-group v-model="radios" inline>
          <v-radio label="English" value="en"></v-radio>
          <v-radio label="فارسی" value="fa"></v-radio>
          <v-radio label="العربیة" value="ar"></v-radio>
        </v-radio-group>
      </v-container>
    </div>

    <ButtonFormDialog :handle-submit="updateLang" />
  </div>
</template>

<script setup>
import localforage from 'localforage'

const locale = useLocale()
const { setItem } = useLocalForage()
const { STORAGE_KEYS } = useConstants()

// console.log(`locale.current.value`)
// console.log(locale.current.value)

const radios = ref(locale.current.value)


const updateLang = async () => {
  locale.current.value = radios.value
  // ;(await setItem) < String > (STORAGE_KEYS.LANG, radios.value)
  await setItem(STORAGE_KEYS.LANG, radios.value)
  console.log('saved')
}
</script>
<style lang=""></style>
