@font-face
  font-family: Yekan
  src: url('/font/yekan/Yekan.eot')
  src: url('/font/yekan/Yekan.eot?#iefix') format('embedded-opentype')
  src: url('/font/yekan/Yekan.woff') format('woff')
  src: url('/font/yekan/Yekan.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: Samim
  src: url('/font/samim/Samim.eot')
  src: url('/font/samim/Samim.eot?#iefix') format('embedded-opentype')
  src: url('/font/samim/Samim.woff') format('woff')
  src: url('/font/samim/Samim.ttf') format('truetype')
  font-weight: normal
  font-style: normal
