// main.scss
// @import './_colors'
@import './_fonts'
// @import './_variables.scss'

// .test-class 
//   width: 200px
//   height: 20px
//   background: yellow

// .layout
//   padding: 10px
//   color: red
//   background: yellow

// .persian
//   font-family: Yekan

@import 'vuetify/styles'
@import 'vuetify/settings'

*
  font-family: Samim
  // font-family: Yekan

html
  font-size: 13px

.test-class
  @extend .bg-black
  width: 200px
  height: $button-height * 4 !important
  color: rgb(var(--v-theme-primary)) !important

.tree-active-class
  // color: $primary-color
  // color: $button-background
  // color: $pink-accent-1
