<template>
  <div>
    <v-divider></v-divider>

    <div class="pa-4 text-end">
      <v-btn
        class="me-2 text-none"
        min-width="92"
        @click="dialog.closeDialog()"
      >
        {{ $t('$vuetify.confirmEdit.cancel') }}
      </v-btn>

      <v-btn
        class="text-white flex-grow-1 text-none"
        color="blue-darken-4"
        variant="flat"
        @click="submit()"
      >
        {{ $t('$vuetify.confirmEdit.ok') }}
      </v-btn>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { defineEmits, defineProps } from 'vue'

// const emit = defineEmits<{
//   (e: 'handleSubmit'): void
// }>()

const props = defineProps<{
  handleSubmit: () => Promise<void>
}>()

// Store
import { useDialogStore } from '~/store/dialogStore'

const dialog = useDialogStore()


const submit = async () => {
  // emit('handleSubmit')
  await props.handleSubmit()

  dialog.closeDialog()
}

</script>
