<template lang="">
  <div class="ma-5">
    <ToolbarMain />
    <img style="width: 200px" src="/img/Mountain.jpg" alt="Discover Nuxt 3" />

    <DialogMain />

    Detail Page for Category: {{ $route.params.category }} & Item: {{ $route.params.item }}

  </div>
</template>

<script setup>

</script>

<style lang=""></style>
