<template>
  <!-- <v-bottom-sheet inset>
    <template v-slot:activator="{ props }">
      <v-btn v-bind="props" text="Click Me"></v-btn>
    </template>

    <v-card
      title="Bottom Sheet"
      text="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, eos? Nulla aspernatur odio rem, culpa voluptatibus eius debitis dolorem perspiciatis asperiores sed consectetur praesentium! Delectus et iure maxime eaque exercitationem!"
    ></v-card>
  </v-bottom-sheet> -->


  <div class="text-center">
    <v-btn
      size="x-large"
      text="Click Me"
      @click="sheet = !sheet"
    ></v-btn>

    <v-bottom-sheet v-model="sheet" inset>
      <v-card
        class="text-center"
        height="200"
      >
        <v-card-text>
          <v-btn
            variant="text"
            @click="sheet = !sheet"
          >
            close
          </v-btn>

          <br>
          <br>

          <div>
            This is a bottom sheet that is using the inset prop
          </div>
        </v-card-text>
      </v-card>
    </v-bottom-sheet>
  </div>

</template>

<script>
  export default {
    data: () => ({
      sheet: false,
    }),
  }
</script>