<template lang="">
  <v-app-bar color="primary">
    <template v-slot:image>
      <!-- <v-img
            gradient="to top right, rgba(19,84,122,.8), rgba(128,208,199,.8)"
          ></v-img> -->
    </template>

    <template v-slot:prepend>
      <v-app-bar-nav-icon></v-app-bar-nav-icon>
    </template>

    <v-app-bar-title>Title</v-app-bar-title>

    <v-spacer></v-spacer>

    <v-btn icon>
      <v-icon>mdi-magnify</v-icon>
    </v-btn>

    <v-btn icon>
      <v-icon>mdi-heart</v-icon>
    </v-btn>

    <!-- <v-btn icon>
      <v-icon>mdi-dots-vertical</v-icon>
    </v-btn> -->

    <v-btn icon>
      <v-icon>mdi-dots-vertical</v-icon>

      <v-menu activator="parent">
        <v-list>
          <v-list-item
            v-for="(item, index) in items"
            :key="index"
            :value="index"
          >
            <v-list-item-title @click="item.onClick">
              {{ item.title }}
            </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-btn>
  </v-app-bar>
</template>

<script setup>
const { t } = useI18n()

// Computed property to dynamically generate items based on locale
const items = computed(() => {
  return [
    { title: 'Font Size' },
    { title: 'Theme' },
    {
      title: t('button.logout'),
      onClick: () => {
        navigateTo({
          path: '/login',
        })
      },
    },
  ]
})
</script>
<style lang=""></style>
