<template>
  <div>
    
    <NuxtLink to="/about">About page</NuxtLink>

    <NuxtLink to="/categories">categories page</NuxtLink>

    <NuxtLink to="/custom">Custom page</NuxtLink>
    <NuxtLink to="/login">Login page</NuxtLink>

    <!-- <component :is="SomeComponent"/> -->
  </div>
</template>


<script setup lang="ts">
// import { SomeComponent } from '#components'
// const SomeComponent = resolveComponent('MyButton')
</script>

<style lang="sass">
a 
  padding: 10px
  margin: 5px
</style>