<template>
  <div class="click-span">
    <span @click="handleClick">Click me!</span>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'ClickSpan',
  setup() {
    const handleClick = () => {
      alert('Span clicked!')
    }

    return {
      handleClick,
    }
  },
})
</script>

<style scoped>
.click-span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

span {
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
}
span:hover {
  background-color: #e0e0e0;
}
</style>
