<template>
  <v-card class="mx-auto" width="300">
    <v-list
      v-model:opened="open"
      slim
      :activatable="true"
    >
      <!--
      :activatable="true"
      active-class="text-primary"
      active-strategy="single-independent"
      -->

      <TreeItem :list="treeArray" />
    </v-list>
  </v-card>
</template>

<script setup>
import { ref, resolveComponent } from 'vue'
// Mock
// import ciTypes from '../../utils/mock-data/ciTypes'
import modules from '../../utils/mock-data/modules'

const treeArray = modules
const open = ref(['Category 1'])

</script>

<style lang="sass">
// @use "~/assets/sass/main.sass"



.active
  color: red
  // color: $bottom-navigation-button-color
</style>
