<template>
  <v-treeview
    :items="items"
    item-value="id"
    open-all
    :activatable="true"
    active-class="active"
    active-strategy="single-independent"
    ></v-treeview>
    <!-- @click:open="handleOpenItem"
    @click:select="handleSelectItem"
    @update:activated="handleActive" -->
</template>

<script lang="ts" setup>
interface OpenItemPayload {
  id: unknown
  value: boolean
  path: unknown[]
}

const items = [
  {
    id: 15,
    title: 'Programming',
    children: [
      { id: 16, title: 'PHP' },
      {
        id: 17,
        title: 'JS',
        children: [
          {
            id: 21,
            title: 'Front-End',

            children: [
              { id: 45, title: 'JQuery' },
              { id: 46, title: 'React' },
              { id: 47, title: 'Angular' },
            ],
          },
          {
            id: 99,
            title: 'Back-End',
            children: [
              { id: 100, title: 'Express' },
              { id: 101, title: 'Nest' },
              { id: 102, title: 'Fastify' },
            ],
          },
        ],
      },
      { id: 200, title: 'GO' },
      { id: 201, title: 'PYTHON' },
    ],
  },
  {
    id: 300,
    title: 'Network',
    children: [
      {
        id: 301,
        title: 'Browser',
        children: [
          { id: 302, title: 'Firefox' },
          { id: 303, title: 'Edge' },
          { id: 304, title: 'Chrome' },
        ],
      },
      { id: 305, title: 'Local' },
      { id: 306, title: 'Global' },
    ],
  },
]

const handleOpenItem = ({ id, value, path }: OpenItemPayload) => {
  console.log(`opened ${id}`)
}
const handleSelectItem = ({ id, value, path }: OpenItemPayload) => {
  console.log(`selected ${id}`)
}
const handleActive = (param: unknown) => {
  console.log('active')
  console.log('param')
  console.log(param)
}
</script>

<style lang="sass">
.active
  color: red
</style>
