<template>
  <component
    v-for="(item, index) in props.list"
    :key="index"
    :is="getComponent(item)"
    v-bind="getProps(item)"
    :color="item.children ? undefined : 'primary'"
    @click="handleItemClick(item)"
  >
    <template v-if="!!item.children" v-slot:activator="{ props }">
      <v-list-item
        v-bind="props"
        :prepend-icon="item.icon"
        :title="item.title"
      />
    </template>
    <TreeItem v-if="!!item.children" :list="item.children" />
  </component>
</template>

<script lang="ts" setup>
import { defineProps } from 'vue'

import { VListItem, VListGroup } from 'vuetify/components'

// Define TypeScript interface for the node structure
interface TreeNode {
  title: string
  id: string
  icon: string
  children?: TreeNode[]
}

// Define props for the TreeNode component
const props = defineProps<{
  list: TreeNode[]
}>()

// console.log(`props.list`)
// console.log(props.list)

const getComponent = (item) => {
  if (item.children) return VListGroup
  else return VListItem

  // if (item.children) return resolveComponent('v-list-group')
  // else return resolveComponent('v-list-item')
}

const getProps = (item) => {
  if (item.children)
    return {
      value: item.title,
    }
  else
    return {
      title: item.title,
      'prepend-icon': item.icon,
    }
}

const handleItemClick = (item: TreeNode) => {
  navigateTo({
    path: item.title.replace(/ /g, '-'),
  })
}
</script>
