<template>
  <!-- <v-layout class="overflow-visible"> -->
  <v-bottom-navigation
    v-model="value"
    color="primary"
    height="50"
    rounded="xs"
    :border="'md'"
    class="w-75"
    style="/* width: 70%; */ left: 50%; transform: translateX(-50%)"
  >
    <!-- <NuxtLink v-for="(item, index) in items" :key="index" :to="item.route"> -->
    <v-btn
      v-for="(item, index) in items"
      :key="index"
      :value="item.route"
      @click="navigate(item.route)"
    >
      <v-icon>{{ item.icon }}</v-icon>
      {{ locale.t('navigation.' + item.title) }}
    </v-btn>
    <!-- </NuxtLink> -->
  </v-bottom-navigation>
  <!-- </v-layout> -->
</template>

<script setup>
import { ref } from 'vue'

// Define reactive state using the `ref` function
const locale = useLocale()

const route = useRoute()
const value = ref(route.fullPath)

const items = [
  {
    title: 'home',
    route: '/home',
    icon: 'mdi-history',
  },
  {
    title: 'assets',
    route: '/assets',
    icon: 'mdi-cassette ',
  },
  {
    title: 'favorite',
    route: '/about',
    icon: 'mdi-heart',
  },
  {
    title: 'setting',
    route: '/setting',
    icon: 'mdi-cog',
  },
]

console.log(`route.params`)
console.log(route.matched)
console.log(route.fullPath)
console.log(route.name)

function navigate(route) {
  return navigateTo({
    path: route,
    // query: {
    //   name: name.value,
    //   type: type.value
    // }
  })
}
</script>

<style scoped lang="sass">
// $bottom-navigation-elevation
// $bottom-navigation-background: red
$bottom-navigation-max-width: 80px
// a
//   margin: 0
//   padding: 0

$button-background: red
</style>
