<template>
  <!-- <v-locale-provider ltr> -->

  <v-responsive class="border rounded">
    <v-app>
      <Header />
      <NavigationDrawer />
      <DialogLoader />
      <Dialog />


      <v-main height="100%" :scrollable="true">
        <v-container>

          <!-- <SomeMenu /> -->

          <!-- <div style="width: 100%; height: 700px; background: red"></div>
          <div style="width: 100%; height: 700px; background: blue"></div> -->

          <slot />
          <NavigationBottom />
        </v-container>
      </v-main>
    </v-app>
  </v-responsive>

</template>

<script>

</script>

<style></style>
