<template lang="">
  <div classs="item">
    About

  </div>
</template>

<script>
export default {
  data: () => ({
  }),
}
</script>

<style lang="sass" scoped>
// .item
//   background-color: $secondary
</style>
