<template lang="">
  <div class="border ma-12">
    <v-sheet class="mx-auto" width="300">
      <v-form fast-fail @submit.prevent>
        <v-text-field
          v-model="firstName"
          :rules="firstNameRules"
          :label="t(`input.field.username`)"
        />

        <v-text-field
          v-model="lastName"
          :rules="lastNameRules"
          type="password"
          :label="t(`input.field.password`)"
        />

        <v-btn class="mt-2" type="submit" @click="handleLoad()" block>
          {{ t(`button.login`) }}
        </v-btn>
      </v-form>
    </v-sheet>
  </div>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue'
import { useLoaderStore } from '~/store/loaderStore'

definePageMeta({
  layout: 'login',
})
const { t } = useI18n()
const locale = useLocale()
const { startLoader, closeloader } = useLoaderStore()

// Define reactive state
const firstName = ref('')
const lastName = ref('123')

// Define validation rules
const firstNameRules = [
  (value) => {
    if (value?.length > 3) return true
    return t(`input.validation.minLength`, {
      field: t(`input.field.username`),
      length: 3,
    })
  },
]

const lastNameRules = [
  (value) => {
    if (/[^0-9]/.test(value)) return true
    return t(`input.validation.noDigitAllowed`, {
      field: t(`input.field.password`),
      length: 3,
    })
  },
]

const handleLoad = async () => {
  startLoader()

  setTimeout(async () => {
    closeloader()
    await navigateTo('/')
  }, 2000)
}
</script>

<style lang=""></style>
