<template lang="">
  <div>
    <h4>
      {{ $t('setting.category.appearance') }}
    </h4>

    <!-- <DialogTheme /> -->

    <v-row class="my-5">
      <v-col>
        <v-card
          class="mx-auto"
          :subtitle="$t('setting.desc.languageAndFont')"
          :title="$t('setting.title.languageAndFont')"
          @click="openLangModal()"
        />
      </v-col>
      <v-col>
        <v-card
          class="mx-auto"
          :subtitle="$t('setting.desc.theme')"
          :title="$t('setting.title.theme')"
          @click="openThemeModal()"
        />
      </v-col>
    </v-row>
    <v-divider></v-divider>

    <h4>
      {{ $t('setting.category.technicalRisk') }}
    </h4>
    <v-divider></v-divider>
    <h4>
      {{ $t('setting.category.backupRestore') }}
    </h4>


  </div>
</template>

<script setup>
// Store
import { useDialogStore } from '~/store/dialogStore'
import { useConstants } from '../composables/useConstants'

const { DIALOGS } = useConstants()
const locale = useLocale()

const dialog = useDialogStore()

const openThemeModal = () => {
  dialog.openDialog(DIALOGS.THEME_DIALOG, {title: locale.t(`modal.theme.title`)})
}
const openLangModal = () => {
  dialog.openDialog(DIALOGS.LANG_DIALOG, {title: locale.t(`modal.lang.title`)})
}

</script>

<style lang=""></style>
