<template>
  <div>Items List For Category {{ $route.params.category }}</div>
</template>

<script setup lang="ts">
// const foo = useFoo()
</script>

<style lang="sass" scoped>
// .example
//   background-color: $primary
</style>
